/* Medium Layout: 1367px. */

@media only screen and (min-width: 1920px) {
    .states, .callback-main, .contact_header {
        background-size:cover;
        background-position: center center;
    }
    .header, .howheader, .investors_header {
        background-size: cover;
        background-position: center center;
        overflow:hidden;
    }

    .header {
        background-image:url(../img/header_max.jpg);
    }

    .howheader {
        background-position: center 20%;
        background-image:url(../img/how_max.jpg);
    }

    .investors_header {
        background-image: url(../img/invest_max.jpg);
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1367px) {

    header .header-container {
        padding: 0 30px;
    }

    .hero1-area .hero1-bg {
        width: 50%;
    }

    .search-inner-area .search-input-box {
        margin-right: 27px;
    }

    .search-inner-area .search-input-box .icon {
        left: 20px;
    }

    .search-inner-area .search-input-box input[type="text"] {
        padding: 10px 20px 10px 60px;
    }

    .search-inner-area .search-input-box input[type="submit"] {
        padding: 10px 4px;
    }

    .search-inner-area .sib-submit {
        flex: 0 0 17%;
        max-width: 17%;
    }

    .hero1-area {
        padding: 230px 0 100px;
    }

    .search-area .search-container {
        padding: 0 80px;
    }



}


/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    /* home-one */
    header .header-container {
        padding: 0 60px;
    }

    .home1-link {
        padding: 11px 22px;
    }

    .hero1-area .hero1-container .hero1-content .title {
        font-size: 30px;
        line-height: 36px;
    }

    .search-area .search-container {
        padding: 0 80px;
    }

    .search-inner-area .search-input-box input[type="submit"] {
        padding: 21px 4px;
    }

    .search-inner-area .search-input-box {
        margin-right: 6px;
    }

    .search-inner-area .search-input-box:last-child {
        margin-right: 0;
    }

    .search-inner-area .search-input-box .icon {
        left: 18px;
    }

    .search-inner-area .search-input-box input[type="text"] {
        padding: 21px 20px 21px 50px;
    }

    .search-inner-area .sib-keyword {
        flex: 0 0 37%;
        max-width: 37%;
    }

    .search-inner-area .sib-submit {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .hero1-area .hero1-bg {
        width: 50%;
    }

    .hero1-area {
        padding: 230px 0 150px;
    }

    .callback-input-area .calback-input-box {
        margin-right: 26px;
    }

    .callback-input-area .calback-input-box input[type="submit"] {
        padding: 12px 18px;
    }

    /* home2 */
    .hero2-area .hero2-content .title {
        font-size: 46px;
        line-height: 54px;
    }

    /* blog */
    .sidebar-widget .tags li a {
        padding: 14px 18px;
    }

    .sidebar-widget .tags li {
        margin-right: 3px;
        margin-bottom: 8px;
    }

    .states_wrap {
        padding:20px 0;
    }

    header .menu ul li:last-child {
        margin-right: 10px;
    }

    .buy_map_list {
        width: 400px;
        -ms-flex: 0 0 400px;
        flex: 0 0 400px;
    }

    .buy_map_list .buy_map_list--item,
    .card_history_table {
        width: 100%;
    }

}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* home-one */
    header .header-container {
        padding: 0 40px;
    }

    .home1-link {
        padding: 11px 20px;
    }

    header .header-container .menu.mean-container {
        margin: 50px 0 0;
    }

    header.navbar-fixed-top .header-container .menu.mean-container {
        margin: 4px 0 0;
    }

    .hero1-area .hero1-container {
        padding: 0 60px;
    }

    .hero1-area .hero1-container .hero1-content .title {
        font-size: 30px;
        line-height: 36px;
    }

    .hero1-area .hero1-bg {
        width: 60%;
    }

    .hero1-area {
        padding: 300px 0 150px;
    }

    .search-area .search-container {
        padding: 0 30px;
    }

    .search-inner-area {
        padding: 34px 30px;
    }

    .search-inner-area .search-input-box {
        margin-right: 10px;
    }

    .search-inner-area .search-input-box .icon {
        left: 20px;
    }

    .search-inner-area .search-input-box input[type="text"] {
        padding: 21px 20px 21px 60px;
    }

    .search-inner-area .sib-submit {
        flex: 0 0 21%;
        max-width: 21%;
    }

    .search-inner-area .search-input-box input[type="submit"] {
        padding: 21px 4px;
    }

    .callback-input-area .calback-input-box {
        margin-right: 8px;
    }

    .callback-input-area .cib-submit {
        flex: 0 0 18%;
        max-width: 18%;
    }

    .callback-input-area .calback-input-box input[type="submit"] {
        padding: 12px 5px;
    }

    .funded-carousel .owl-nav .owl-prev {
        left: 0;
    }

    .funded-carousel .owl-nav .owl-next {
        right: 0;
    }

    /* home2 */
    .header-2 .mean-bar {
        margin: 12px 0 0;
    }

    .header-2 .menu ul li a {
        padding: 5px 10px;
    }

    .header-2 .menu ul li:hover>a,
    .header-2 .menu ul li .active {
        border-bottom-color: transparent;
    }

    .hero2-area .hero2-content .title {
        font-size: 40px;
        line-height: 46px;
    }

    .single-listing-2 .content {
        padding: 28px 16px 24px;
    }

    .single-listing-2 .content .name {
        font-size: 18px;
        line-height: 22px;
    }

    .testimonial2-carousel .owl-nav .owl-prev {
        left: 0;
    }

    .testimonial2-carousel .owl-nav .owl-next {
        right: 0;
    }





    .states_wrap {
        padding:80px 0;
    }

    .callback-input-area {
        justify-content: space-around;
    }

    .callback-input-area .calback-input-box {
        flex:0 0 30%;
        max-width: 30%;
    }

    .about2-info .title {
        font-size: 16px;
    }

    .step1 {
        padding-top: 20px;
    }

    .metrik h4 {
        font-size: 50px;
    }

    .metrik p {
        font-size: 18px;
    }

    .pricing_tables_item--left {
        flex: 0 0 60%;
        max-width: 60%;
    }

    .pricing_tables_item--right {
        flex: 0 0 40%;
        max-width: 40%;
    }

    .investors_header_fl h1 {
        text-align: center;
    }

    .page-title.title-left {
        text-align: center;
    }
}

@media only screen and (max-width: 991px) {
    #mobile_menu_active {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-2 .logo {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    a.logo_phone {
        display: block;
    }

    a.logo_phone {
        color: #223c55;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 41px;
    }

    a.logo_phone:hover {
        color:#0099ff
    }

    a.logo_phone span:before {
        font-size: 16px;
        color:inherit;
    }

    .header {
        padding: 120px 0 300px;
    }

    header .menu ul li {
        margin: 0;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 576px) and (max-width: 767px) {

    /* home-one */
    header .header-container {
        padding: 0 30px;
    }

    header .header-container .logo .link {
        font-size: 15px;
    }

    header .header-container .menu {
        margin: 44px 0 0;
    }

    header.navbar-fixed-top .header-container .menu.mean-container {
        margin: 4px 0 0;
    }

    .home1-link {
        font-size: 12px;
        padding: 9px 15px;
    }

    .mean-container .mean-bar::after {
        font-size: 16px;
    }

    .hero1-area .hero1-container {
        padding: 0 30px;
    }

    .hero1-area .hero1-container .hero1-content .title {
        font-size: 30px;
        line-height: 36px;
    }

    .hero1-area .hero1-bg {
        width: 78%;
    }

    .hero1-area {
        padding: 220px 0 120px;
    }

    .search-area .search-container {
        padding: 0 10px;
    }

    .search-inner-area {
        padding: 30px 15px;
    }

    .search-inner-area .search-input-box .icon {
        left: 20px;
    }

    .search-inner-area .search-input-box input[type="text"] {
        padding: 10px 20px 10px 50px;
    }

    .search-inner-area .search-input-box {
        margin-right: 6px;
    }

    .search-inner-area .sib-submit {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .search-inner-area .search-input-box input[type="submit"] {
        padding: 10px 4px;
        font-size: 12px;
    }

    .callback-input-area .calback-input-box {
        margin-right: 3px;
    }

    .callback-input-area .cib-submit {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .callback-input-area .calback-input-box input[type="submit"] {
        padding: 12px 6px;
    }

    .section-title .title {
        font-size: 30px;
        line-height: 36px;
    }

    .funded-carousel .owl-nav .owl-prev {
        left: 0;
    }

    .funded-carousel .owl-nav .owl-next {
        right: 0;
    }

    /* home2 */
    .header-2 .mean-bar {
        margin: 12px 0 0;
    }

    .header-2 .menu ul li a {
        padding: 5px 10px;
    }

    .header-2 .menu ul li:hover>a,
    .header-2 .menu ul li .active {
        border-bottom-color: transparent;
    }

    .hero2-area .hero2-content .title {
        font-size: 40px;
        line-height: 46px;
    }

    .about2-info {
        margin: 0 0 30px;
    }

    .testimonial2-carousel .owl-nav .owl-prev {
        left: 0;
    }

    .testimonial2-carousel .owl-nav .owl-next {
        right: 0;
    }



}

@media only screen and (max-width: 767px) {
    .card_history_table {
        width: 100%;
        margin-bottom: 40px;
    }

    #mobile_menu_active {
        display: none;
    }

    .mobile_menu {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 980;
        width: 100%;
        height: 100%;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        visibility: hidden;
        opacity: 0;
        padding:20px;
        padding-top: 100px;
    }

    .mobile_menu_wrapper {
        display: flex;
        flex-flow:row wrap;
        justify-content: center;
        align-items: center;
    }

    .mobile_menu_wrapper a.logo-link,
    .mobile_menu_wrapper a.logo_phone {
        width: 100%;
        text-align: center;
    }

    .mobile_menu_wrapper a.logo_phone {
        font-size: 24px;
    }

    .mobile_menu_wrapper .home1-link {

    }

    .mobile_menu_wrapper a.menu_list_a {
        padding:10px 20px;
        font-size: 30px;
    }

    .mobile_menu_wrapper hr {
        width: 100%;
        background-color:#f7f7f7;
        margin-bottom: 30px;
    }

    .mobile_menu a {
        height: auto;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .mobile_menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .mobile_menu ul li {
        line-height: normal;
    }

    .mobile_menu a.logo-link {
        font-size: 40px;
    }

    .mobile_menu.show {
        visibility: visible;
        opacity: 1;
    }

    .mobile_button {
        position: fixed;
        top: 8px;
        left: 10px;
        z-index: 990;
        outline: none;
        padding: 9px 10px;
        border:none;
        border-radius:5px;
        background-color: #f9f9f9;
        cursor: pointer;
    }

    .mobile_button span {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        margin-top: 4px;
        background-color: #0099ff;
        -webkit-transition: transform 0.3s, opacity 0.3s;
        -moz-transition: transform 0.3s, opacity 0.3s;
        -ms-transition: transform 0.3s, opacity 0.3s;
        -o-transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;

    }
    .mobile_button span:nth-child(1) {
        margin-top: 0;
    }


    .mobile_button.show span:nth-child(1) {
        -webkit-transform: translateY(6px) rotate(45deg);
        -moz-transform: translateY(6px) rotate(45deg);
        -ms-transform: translateY(6px) rotate(45deg);
        -o-transform: translateY(6px) rotate(45deg);
        transform: translateY(6px) rotate(45deg);
    }

    .mobile_button.show span:nth-child(2) {
        opacity: 0;
    }

    .mobile_button.show span:nth-child(3) {
        -webkit-transform: translateY(-6px) rotate(-45deg);
        -moz-transform: translateY(-6px) rotate(-45deg);
        -ms-transform: translateY(-6px) rotate(-45deg);
        -o-transform: translateY(-6px) rotate(-45deg);
        transform: translateY(-6px) rotate(-45deg);
    }

    .of-hidden {
        overflow: hidden;
    }

    .search2-area .search2-full-box {
        padding:30px 20px;
    }

    .search2-area .search2-full-box .search2-all-box .search2-input-box.btn-box {
        flex: 0 0 40%;
        width: 40%;
        text-align: right;
    }

    .search2-area .search2-full-box .search2-all-box .search2-input-box {
        flex: 0 0 58%;
        max-width: 58%;
        margin-right: 0;
    }

    .search2-area .search2-full-box .search2-all-box {
        width: 100%;
        justify-content: space-between;
    }

    .search2-area .search2-full-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about2-info {
        padding-left: 75px;
        height: auto;
    }

    .about2__number {
        width: 60px;
        height: 60px;
        font-size: 40px;
        top: 0;
        left: 0;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .about2-info .title {
        text-align: left;
        margin: 0;
    }

    .about2-area-steps-wrap {
        padding-top: 0;
    }

    .states_wrap {
        padding:0px 0;
    }

    .differense {
        padding: 80px 0 100px;
    }

    .differense .section-title {
        margin-bottom: 80px;
    }

    .differense_wrap {
        flex-direction: column;
    }

    .callback-input-area {
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .callback-input-area .calback-input-box,
    .callback-input-area .cib-submit {
        flex:0 0 100%;
        max-width: 100%;
    }

    .callback-input-area .calback-input-box {
        margin-bottom: 20px;
    }

    .callback-main {
        -webkit-background-size: cover;
        background-size: cover;
        padding-top: 80px;
    }

    .step1 #map {
        height: 300px;
    }

    .step2 h1 {
        text-align: center;
        font-size: 40px;
    }

    .step2 .text {
        text-align: center;
        margin-bottom: 40px;
    }

    .step2 {
        padding:100px 0;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .howheader h1,
    .investors_header_fl h1 {
        text-align: center;
    }

    .howsteps .section-title {
        margin-bottom: 60px;
    }

    .pricing_tables_item {
        margin-bottom: 30px;
    }

    .differense_wrap_item {
        width: 100%;
    }

    .metrik h4 {
        margin-bottom: 0px;
    }

    .metrik {
        margin-bottom: 50px;
    }

    .page-title.title-left,
    .contact_wrapper {
        text-align: center;
    }

    .vendors_area_img {
        display: none;
    }

    .office_item .text, .office_item .text a {
        font-size: 18px;
    }

    .office_item h4 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 576px) {
    .card_about_facts_item {
        width: 50%;
    }
    .card_about_facts {
        margin-bottom: 40px;
    }

    .card_history_table {
        overflow-x: scroll;
    }

    .card_history_table--1 {
        max-width: 130px;
        flex:0 0 130px;
    }

    .card_history_table--2 {
        max-width: 230px;
        flex:0 0 230px;
    }
    .card-carusel .owl-nav .owl-prev {
        left: 10px;
    }

    .card-carusel .owl-nav .owl-next {
        right: 10px;
    }
}

/* Small Mobile Layout: 480px. */

@media only screen and (min-width: 240px) and (max-width: 480px) {

    /* home-one */
    header,
    header.navbar-fixed-top {
        animation: none;
        box-shadow: none;
        position: unset;
    }

    .hero1-area .hero1-bg {
        display: none;
    }

    header .header-container {
        padding: 0 10px;
    }

    header .header-container .logo {
        padding: 51px 0 20px;
        text-align: center;
    }

    header .header-container .header-links {
        text-align: center;
        padding: 20px 0 49px;
    }

    .hero1-area .hero1-container {
        padding: 0 15px;
    }

    .hero1-area {
        padding: 200px 0 100px;
    }

    .hero1-area .hero1-container .hero1-content .title {
        font-size: 30px;
        line-height: 36px;
    }

    .search-area .search-container {
        padding: 0 15px;
    }

    .search-inner-area {
        padding: 34px 20px;
    }

    .search-inner-area .sib-keyword {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .search-inner-area .sib-city {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .search-inner-area .sib-state {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .search-inner-area .sib-submit {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .search-inner-area .search-input-box {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .search-inner-area .search-input-box:last-child {
        margin-bottom: 0;
    }

    .search-inner-area .search-input-box .icon {
        left: 20px;
    }

    .search-inner-area .search-input-box input[type="text"] {
        padding: 21px 20px 21px 50px;
    }

    .section-title .title {
        font-size: 22px;
        line-height: 26px;
    }

    .section-title .text {
        font-size: 16px;
        line-height: 25px;
    }

    .callback-input-area .calback-input-box {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .callback-input-area .calback-input-box:last-child {
        margin-bottom: 0;
    }

    .callback-input-area .cib-text {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .callback-input-area .cib-email {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .callback-input-area .cib-phone {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .callback-input-area .cib-submit {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .video-content .title {
        font-size: 30px;
        line-height: 36px;
    }

    .footer-bottom-area .copyright {
        text-align: center;
    }

    .footer-bottom-area .top {
        text-align: center;
    }

    .funded-carousel .owl-nav .owl-next {
        right: 0;
    }

    .funded-carousel .owl-nav .owl-prev {
        left: 0;
    }

    .home1-link.outline {
        color: #000000;
    }

    /* home2 */
    .header-2 .menu ul li a {
        padding: 5px 10px;
    }

    .header-2 .menu ul li:hover>a,
    .header-2 .menu ul li .active {
        border-bottom-color: transparent;
    }

    .header-2 .logo {
        text-align: center;
    }

    .hero2-area .hero2-content .title {
        font-size: 30px;
        line-height: 36px;
    }

    .search2-area .search2-full-box {
        padding: 26px 20px 20px;
    }

    .search2-area .search2-full-box .search2-all-box .search2-input-box {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
    }

    .search2-area .search2-full-box .search2-other-box .search2-input-box {
        margin-right: 100%;
        margin-bottom: 26px;
    }

    .about2-info {
        margin: 0 0 30px;
    }

    .testimonial2-carousel .owl-nav div {
        display: none;
    }

    /* blog */
    .pagination .page-item {
        margin: 0 0px;
    }

    /* blog details */
    .inner-hero-content .breadcumb li {
        padding-right: 16px;
        margin-right: 0px;
    }

    .blog-details .info .author {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .blog-details .breadcumb {
        padding: 0 20px;
    }

    .blog-details .share-tags .st-tags {
        flex: 0 0 100%;
    }

    .blog-details .share-tags .st-share {
        flex: 0 0 100%;
        text-align: left;
    }

    .blog-details .bd-comments-area .bd-allcommentes li .bd-comment-box .img {
        float: none;
    }

    .blog-details .bd-comments-area .bd-allcommentes li .bd-comment-box .content {
        padding-left: 0;
        padding-top: 20px;
    }

    a.logo-link {
        font-size: 18px;
    }

    .header-2 {
        padding-left: 40px;
    }

    .header .hero2-content .title {
        font-size: 30px;
        line-height: 1.3;
    }

    .search2-area .search2-full-box .search2-all-box .search2-input-box.btn-box {
        flex:0 0 100%;
        max-width: 100%;
    }

    .search2-area .search2-full-box .search2-all-box .search2-input-box .btn {
        width: 100%;
    }

    .how .section-title,
    .faq .section-title {
        margin-bottom: 40px;
    }

    .faq {
        padding: 80px 0
    }

    .callback-input-area {
        width: 100%;
    }

    .mobile_menu_wrapper a.menu_list_a {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .howheader {
        background-position:10% center ;
    }

    .howheader h1,
    .investors_header_fl h1 {
        font-size: 36px;
        line-height: 1.3;
    }

    .step_description p.text {
        font-size: 14px;
    }

    .step_number {
        flex:0 0 58px;
        max-width: 58px;
    }

    .step_number--number {
        font-size: 36px;
    }

    .howsteps_wrapper:after {
        left: 29px;
        width: 2px;
    }

    .step {
        margin-bottom: 30px;
    }

    .invest_metriks .section-title {
        margin-bottom: 40px;
    }

    .metrik h4 {
        font-size: 36px;
    }

    .metrik p {
        font-size: 18px;
    }

    .invest_metriks {
        padding:80px 0;
    }

    .investors_header_fl .btn-style-1 {
        text-align: center;
    }

    .invest_posts .single-feature {
        margin-bottom: 40px;
    }

    .vendors_ares_tags .tags li {
        padding:10px 10px;
    }

    .offices .single-feature {
        margin-bottom: 40px;
    }

    .offices .section-title {
        margin-bottom: 40px;
    }

    .section-title .title, .section-title .text {
        text-align: left;
    }

    .office_item h4 {
        margin-bottom: 15px;
    }

    .offices {
        padding-bottom: 20px;
    }

    .form_row_three {
        flex-direction: column;
    }

    .contact_header {
        background-position-x:30%;
    }

    .error .title,
    .error .text {
        text-align: center;
    }
}


/*big from small mobile, small from wide mobile*/
@media only screen and (min-width: 380px) and (max-width: 480px) {}
